* text=auto

*.html text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.svg text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

*.AppImage binary
*.deb binary
*.dmg binary
*.exe binary
*.msi binary
*.zip binary
*.png binary
